

.infopie {
    text-align: center;
    color: white;
}

footer {
    height: 25px;
    position: fixed;
    width: 100%;
    bottom: 0px;
    text-align: center;
    background-color: #113;
    color: white;
    font-size: 16px;
}