

<div class="container">


    <div class="cargando" *ngIf="cargando">
        <div class="spinner-border" role="status">
            <span class="sr-only">Cargando...</span>
        </div>
    </div>

    <div *ngIf="!cargando">
        <app-select-ciudad></app-select-ciudad>
        <app-select-estacion *ngIf="data.estacionesCiudad.length!=0"></app-select-estacion>
        <br><br>
        <app-select-fechas *ngIf="data.estacionesCiudad.length!=0"></app-select-fechas>
        <app-graficas-historico *ngIf="data.datosParaGrafica.length!=0"></app-graficas-historico>
        <!-- Test para comprobacion de datos no disponibles
            <div *ngIf="data.datosParaGrafica.length==0 && data.modo!=-1">Datos no disponibles</div> 
        -->
    </div>
   
</div>




